extends ../layout
block content
  include filter
  if posts.length
    include paginate
    table.table
      thead
        tr
          th Когда
          th Группа
          th Опубликован
          th Ошибка
          th Текст
          th -
          th Файлы
          th -
          th -
          th -
      tbody#post_list
        each post in posts
          include list_item
    include paginate
  else
    span.label.label-warning Ваш список постов пуст