nav.navbar.navbar-default.navbar-inverse
  div.container-fluid
    div.collapse.navbar-collapse(id="bs-example-navbar-collapse-2")
      p.navbar-text.navbar-right
        a(href="http://skoropletov.ru", target="_blank") http://skoropletov.ru
        &nbsp;
        &copy; 2015