extends ../layout
block content
  div.row
    div.col-xs-12.col-md-12
      p: Это приложение позволяет создавать расписание постов для Ваших групп Вконтакте.
      Записи будут добавлены на стену группы автоматически в указанное время.
      br
      br
      //p: Система в автоматическом режиме аггрегирует посты из блогов сервиса Tumblr, добавляет в очередь и постит согласно расписанию в профиль в сервисе VK. Очередность постов и сами посты можно редактировать, добавляя описание и изображения.
      //p: Реализация проекта заняла у меня ~40 часов, при том что с Node.js я был знаком поверхностно и никогда прежде не писал на нем приложения.
      //p: В планах:
      //  ul
      //    li: делать посты в Tumblr
      //    li: делать посты в Twitter
      //    li: делать посты в Facebook
      //    li: делать посты в LiveJournal
      //    li: добавить возможность прикреплять аудиозапись к постам в VK
      //    li: задавать сортировку изображений внутри поста
      //    li: возможность регистрации пользователей
      //    li: возможность пользователей управлять постами на свои страницы / в свои группы
      //p: При разработке системы использовались: Node.js, mongoDB, Bootstrap 3, Tumblr API, VK API
      //p: Процесс создания приложения будет описан в моем блоге здесь:&nbsp;
      //  a(href="http://skoropletov.ru", target="_blank") http://skoropletov.ru