extends ../layout

block content
  table.table
    thead
      tr
        th= URL
        th= Рейтинг
        th= Последняя
        th
          -
        th
          -
    tbody
      each val in sources
        tr
          th(scope="row")= val.url
          td= val.rate
          td
            if val.latest
              div.row
                div.col-xs-6.col-md-3
                  a.thumbnail(href="#")
                    img(
                      src=val.latest
                    )
          td
            a(href="/source/edit/" + val._id)
              span.glyphicon.glyphicon-pencil(aria-hidden="true")
          td
            a(href="/source/destroy/" + val._id)
              span.glyphicon.glyphicon-remove(aria-hidden="true")

